# Problem Set 8

This problem set is optional and open-ended. There is no bonus point for this problem set. If you choose to submit something, your grade from the problem sets will be the weighted average of the best 7 out of 8 problem sets.

The data provided here are adapted and modified from a real take-home project that serves as the first step of the interview process for a data scientist position. This data set is, however, publicly available on [data.world](https://data.world/).

## Data

The dataset (“bank_transactions.csv”) consists of real anonymized bank transactions from a single bank account spanning 5 years and 672 transactions.
It consists of the following columns:
- **date**: string (you can convert them to `DateTime` objects when importing data)
- transaction **type**: categorical with three values -- "expense", "income", "other"
- transaction **amount**: real number
- **balance**: real number

In [1]:
import pandas as pd

In [5]:
transactions = pd.read_csv("https://raw.githubusercontent.com/ubcecon/ECON323_2022_Spring/main/problem_sets/bank_transactions.csv")
transactions.head()

         date    type   amount  balance
0  1993-05-12  income    500.0    500.0
1  1993-05-14  income  21959.0  22459.0
2  1993-05-31  income     51.3  22510.3
3  1993-05-31  income     54.3  22564.6
4  1993-06-11  income   2100.0  24664.6

## Question

- Make visualizations on different categories of transactions over time.
- How is the "balance" calculated with the "transaction amount"?
- Any patterns in data you find interesting? Can you explain the patterns you find?
- What kind of things that we can do with this data? Can you show some examples?